<a href="https://colab.research.google.com/github/Joshih2014/PYTH_225_Harsh/blob/master/PYTH225_basic_data_types_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## EASY

### P1.PY

In [0]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.

In [0]:
v = None
v = "Thursday"
print (v)

Thursday



### P2.PY

In [0]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.

number = 9 #this variable represents my favorit number
print (number)

# Create another variable that represents your favorite color, and do the same steps as above.
c = "saffron" # be good to self document by having your variable name as descriptive as possible - my_favorite_color is better name
print (c)

9
saffron



### P3.PY

In [0]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of lyrics from your favorite song. Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.

song = """ 
You can check out any time you like
but you can never leave
up ahead in the distance
I saw a shimmering light
"""
# Hotel California by Eagles
print (song)

You can check out any time you
but you can never leave
up ahead in the distance
I saw a shimmering light

## OPERATORS

### P1.PY

In [0]:
"""
Game Show Score
"""

# Imagine the var below represents the latest score of a competitor on a game show. As this person plays, you need to update their score to reflect gains and losses in points. Each math operation below dictates the change in the competitor's score to be made after each of his or her actions.

# Complete the below math operations and print the results to show the changes in the competitor's score throughout the game.

latest_score = 100
print(latest_score)

# Add 50
round1_score = latest_score + 50
print (round1_score)

# Subtract 90
round2_score = round1_score - 90
print (round2_score)

# Multiply 10
round3_score = round2_score * 10
print (round3_score)


# Divide 150
round4_score = round3_score / 150
print(round4_score)


# Modulus 3
round5_score = round4_score % 3
print (round5_score)

100
150
60
600
4.0
1.0



### P2.PY

In [0]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. 
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling." 
first_part_of_sentence = "I'll go to the beach today"
second_part_of_sentence = ", and I'll go snorkeling."
combined_sentence = first_part_of_sentence + second_part_of_sentence
print (combined_sentence)

I'll go to the beach today, and I'll go snorkeling.



### P3.PY

In [2]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together without causing any Type Errors. 

# A)
a = 0
b = 2
c = a + b
print (c)

# B)
c = '0'
d = '2'
e = c + d
print (e)


# C)
e = '0'
f = 2
g = int(e) + f
print (g)

2
02
2



### P4.PY

In [0]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True
print(a+b)



# B)
c = False
d = False
print (c + d)


# C)
e = True
f = False
print (e + f)

2
0
1

## TYPECASTING

### P1.PY

In [0]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22

# print (float (five)), print (five), print (type (five))
print (float(zero)), print (zero)
print (float (neg_8)), print (neg_8)
print (float(neg_22))

5.0
5
<class 'int'>
0.0
0
-8.0
-8
-22.0

int



### P2.PY

In [0]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False
five = str(five)
print (type(five)), print (five)
five = int(five)
print (type(five))
print (five)
zero = str(zero)
print (type(zero)), print (zero)
zero = int(zero)
print (type(zero))
print (zero)
neg_8 = str(neg_8)
print (type(neg_8)), print (neg_8)
neg_8 = int(neg_8)
print (type(neg_8))
print (neg_8)
T = str(T)
print (type(T))
print (T)
T = bool(T)
print (type(T))
print (T)
F = str(F)
print (type(F))
print (F)
F = bool(F)
print (type(F))
print (F)

<class 'str'>
5
<class 'int'>
5
<class 'str'>
0
<class 'int'>
0
<class 'str'>
-8
<class 'int'>
-8
<class 'str'>
True
<class 'bool'>
True
<class 'str'>
False
<class 'bool'>
True



### P3.PY

In [0]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0
one = (bool(one))
zero = (bool(zero))
print (one)
print (type(one))
print (zero)
print (type (zero))
# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.
one = float(one)
print(one)
print(type(one))
zero = (float(zero))
print (zero)
print (type(zero))
# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.
one = bool(one)
print (one)
print (type(one))
zero = bool(zero)
print (zero)
print (type(zero))

# C) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.
one = int(one)
print (one)
print (type(one))
zero = int(zero)
print (zero)
print (type(zero))

# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result. 

ten = 10
ten = bool(ten)
print (ten)
print(type(ten))

True
<class 'bool'>
False
<class 'bool'>
1.0
<class 'float'>
0.0
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>
1
<class 'int'>
0
<class 'int'>
True
<class 'bool'>



### P4.PY

In [0]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0
T = True
F = False
print(type(T))
print(type(F))
one = bool(one)
zero = bool (zero)
T = bool (T)
F = bool (F)
print (one)
print(zero)
print(T)
print (F)
print (type(one))
print (type(zero))
print (type(T))
print (type(F))

# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.
one = int(one)
zero = int(zero)
print (one)
print (zero)
print (type (one))
print (type(zero))

# C) Use typecasting to turn the latest values for variables 'T' and 'F' back into boolean values. Print the result and the datatype of the result.
T = str(T)
F = str(F)
print(T)
print(F)
print(type(T))
print(type(F))

<class 'bool'>
<class 'bool'>
True
False
True
False
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>
1
0
<class 'int'>
<class 'int'>
True
False
<class 'str'>
<class 'str'>

## SHOPPING_LIST

### P1.PY

In [0]:
"""
Shopping List Calculator I
"""

# Create five variables,
# set them to strings that represent 5 common shopping list items


item_name_1 = None
item_name_2 = None
item_name_3 = None
item_name_4 = None
item_name_5 = None
item_name_1 = "Coco Puffs"
item_name_2 = "Milk"
item_name_3 = "Butter"
item_name_4 = "Cream"
item_name_5 = "Eggs"
# Create five more variables,
# set them to floats that represent the prices of each of the items above

item_price_1 = None
item_price_2 = None
item_price_3 = None
item_price_4 = None
item_price_5 = None

item_price_1 = 4.99
item_price_2 = 3.99
item_price_3 = 5.99
item_price_4 = 2.49
item_price_5 = 6.49

# Create five more variables,
# set them to ints that represent the quantity of each of the items above
item_quant_1 = None
item_quant_2 = None
item_quant_3 = None
item_quant_4 = None
item_quant_5 = None

item_quant_1 = 1.0
item_quant_2 = 2.0
item_quant_3 = 3.0
item_quant_4 = 4.0
item_quant_5 = 5.0
# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2
#print ('%s is %d years old' % ('Joe', 42))
#print(('item %s, price %s, count %d') % (item_name_1, item_price_1,item_quant_1))
#print(('item %s') % (item_name_1))
print(item_name_1 + " " + str(item_price_1 * item_quant_1))
print(item_name_2 + " " + str(item_price_2 * item_quant_2))
print(item_name_3 + " " + str(item_price_3 * item_quant_3))
print(item_name_4 + " " + str(item_price_4 * item_quant_4))
print(item_name_5 + " " + str(item_price_5 * item_quant_5))

Coco Puffs 4.99
Milk 7.98
Butter 17.97
Cream 9.96
Eggs 32.45



### P2.PY

In [8]:
"""
Shopping List Calculator II
"""

# Rewrite p1, but this time use the input() command to solicit user input for name, price, quantity. Here's how it works:

#item_name_1 = input('Name your first item: ') 
	# ^ this will ask user to input value of item_name_1

# use input() function and ask user to name items
item_name_1 = None
item_name_2 = None
item_name_3 = None
item_name_4 = None
item_name_5 = None
item_name_1 = input("Name your first item: ")
item_name_2 = input("Name your second item: ")
item_name_3 = input("Name your third item: ")
item_name_4 = input("Name your fourth item: ")
item_name_5 = input("Name your fifth item: ")

# use input() function and ask user to name prices
item_price_1 = None
item_price_2 = None
item_price_3 = None
item_price_4 = None
item_price_5 = None
item_price_1 = 4.99
item_price_2 = 3.99
item_price_3 = 5.99
item_price_4 = 2.49
item_price_5 = 6.49

# use input() function and ask user to name quants
item_quant_1 = None
item_quant_2 = None
item_quant_3 = None
item_quant_4 = None
item_quant_5 = None
item_quant_1 = input ("Quantity: ")
item_quant_2 = int(item_quant_1) + 1
print (f"Quantity: {(item_quant_2)}")
item_quant_3 = item_quant_2 + 1
print (f"Quantity: {(item_quant_3)}")
item_quant_4 = item_quant_3 + 1
print (f"Quantity: {(item_quant_4)}")
item_quant_5 = item_quant_4 + 1
print (f"Quantity: {(item_quant_5)}")

#item_quant_2 = input ("Quantity: ")
#item_quant_3 = input ("Quantity: ")
#item_quant_4 = input ("Quantity: ")
#item_quant_5 = input ("Quantity: ")
# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2

# JUST REMEMBER: now this will be defined by the user!!
print(item_name_1 + " " + str(item_price_1 * float(item_quant_1)))
print(item_name_2 + " " + str(item_price_2 * float(item_quant_2)))
print(item_name_3 + " " + str(item_price_3 * float(item_quant_3)))
print(item_name_4 + " " + str(item_price_4 * float(item_quant_4)))
print(item_name_5 + " " + str(item_price_5 * float(item_quant_5)))

Name your first item: coco
Name your second item: eggs
Name your third item: bread
Name your fourth item: butter
Name your fifth item: cream
Quantity: 1
Quantity: 2
Quantity: 3
Quantity: 4
Quantity: 5
coco 4.99
eggs 7.98
bread 17.97
butter 9.96
cream 32.45